@model DentalResearchApp.Models.StudyModel

<div class="modal-header">
    <link rel="stylesheet" href="/css/Index.css" type="text/css" />
    <h2 class="modal-title secondHeadline" style="text-align: center">Study Details</h2>
</div>
<div class="modal-body">
    <ul class="list-unstyled">
        <li class="row">
            <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                @Html.Label("Study Name:")
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">
                @Html.DisplayFor(model => model.StudyName)
            </div>
        </li>
        <li class="row">
            <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                @Html.Label("Description:")
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">
                @Html.DisplayFor(model => model.StudyDescription)
            </div>
        </li>
    </ul>
    <hr/>
    <div class="row">
        <h4 class="secondHeadline" style="font-weight:bold">Patients</h4>
        <table class="customTable">
            <thead>
            <tr>
                <th class="customTh">Patient</th>
            </tr>
            </thead>
            @if (Model.Surveys.Any())
            {
                <tbody>
                @foreach (var item in Model.Patients)
                {
                    <tr>
                        <td class="customTd">
                            @item.Id
                        </td>
                    </tr>
                }
                </tbody>}
        </table>
    </div> 
    <hr/>
    <div class="row">
        <h3 class="secondHeadline" style="font-weight:bold">Surveys</h3>
        <table class="customTable">
            <thead>
            <tr>
                <th class="customTh">Survey Names</th>
            </tr>
            </thead>
            @if (Model.Surveys.Any())
            {
                <tbody>
                @foreach (var item in Model.Surveys)
                {
                    <tr>
                        <td class="customTd">
                            @item.SurveyName
                        </td>
                    </tr>
                }
                </tbody>
            }
        </table>
    </div>
</div>
<br/>
<div class="modal-footer" style="text-align: center">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
    <input type="button" class="btn btn-success" value="Edit Study" href="Study/EditStudy"/>
</div>
<div class="clearfix"></div>