@model DentalResearchApp.Models.ChangePasswordModel

<div class="modal-header">
    <script type="text/javascript" src="/js/PasswordValidation.js"></script>
    <link rel="stylesheet" href="/css/Index.css" type="text/css" />
    <h2 class="modal-title secondHeadline" style="text-align: center">Change password</h2>
    

</div>
<div class="modal-body">

    @Html.Hidden("errors", Model.Errors)
    @using (Html.BeginForm("ChangePassword", "profile", FormMethod.Post, new { onsubmit = "return checkForm(this)" }))
    {

        <ul class="list-unstyled">
            <li class="row">
                <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                    @Html.Label("Old password:")
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">
                    @Html.PasswordFor(x => x.OldPassword, new {@class = "inputfield", @placeholder = "Old password", @type = "password", @required = true})
                </div>
            </li>
            <li class="row">
                <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                    @Html.Label("New password")
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">
                    @Html.PasswordFor(x => x.NewPassword, new { @class = "inputField", @id = "pwd1", @name = "pwd1", @placeholder = "New Password", @type = "password", @required = true })


                </div>
            </li>
            <li class="row">
                <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>
                <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                    @Html.Label("Confirm new password")
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">

                    @Html.PasswordFor(x => x.NewPasswordConfirm, new { @class = "inputField", @id = "pwd2", @name = "pwd2", @placeholder = "Confirm Password", @type = "password", @required = true })
                </div>
            </li>
        </ul>
        <input type="submit" class="btn btn-success" value="Save changes" />
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

    }
    <br />
</div>

<div class="modal-footer" style="text-align: center">
</div>
<div class="clearfix"></div>