@model DentalResearchApp.Models.UserSessionDetailsViewModel

<div class="modal-header">
    <link rel="stylesheet" href="/css/Index.css" type="text/css" />
    <h2 class="modal-title secondHeadline" style="text-align: center">User Session Details</h2>
</div>
<div class="modal-body">
    <ul class="list-unstyled">
        <li class="row">
            <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                @Html.Label("Study Name:")
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">
                @Html.DisplayFor(model => model.StudyName)
            </div>
        </li>
        <li class="row">
            <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>

            <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                @Html.Label("Session Name:")
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">
                @Html.DisplayFor(model => model.SessionName)
            </div>
        </li>
        <li class="row">
            <div class="col-lg-1 col-md-1 col-sm-1" style="text-align: left"></div>
            <div class="col-lg-3 col-md-3 col-sm-3" style="text-align: left">
                @Html.Label("ParticipantId:")
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8" style="text-align: left">
                @Html.DisplayFor(model => model.ParticipantId)
            </div>
        </li>
    </ul>
    <hr />
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h4 class="secondHeadline" style="font-weight: bold">Survey Results</h4>
            <table class="customTable">
                <thead>
                    <tr>
                        <th class="customTh">Survey names</th>
                    </tr>
                </thead>
                @if (Model.ResultLinks.Any())
                {
                    <tbody>
                        @foreach (var item in Model.ResultLinks)
                        {
                            <tr>
                                <td class="customTd" id="patientId">
                                    @Html.ActionLink(item.SurveyName, "Results", "Survey", new { participantId = Model.ParticipantId, userSessionId = item.UserSessionId, id = item.SurveyName }, null)
                                </td>
                            </tr>
                        }
                    </tbody>}
            </table>
        </div>
    </div>
</div>
<br />
<div class="modal-footer" style="text-align: center">
    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
</div>
<div class="clearfix"></div>