@using DentalResearchApp.Models
@using Microsoft.AspNetCore.WebSockets.Internal
@using MongoDB.Bson
<!DOCTYPE html>

@model SignUpModel
@{
    ViewBag.Title = "Dental Research App - Sign Up";
}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/Styles.css" type="text/css" />
    <title>Dental Research App - Sign Up</title>
</head>
<body>
    <div class="box">
        <h1 class="secondHeadline">Sign Up</h1>
        @using (Html.BeginForm("CreateUser", "login", FormMethod.Post))
        {
        @Html.TextBoxFor(x => x.FirstName, "Firstname", new { @class = "email", @id = "firstName", @placeholder = "First Name" })
        @Html.TextBoxFor(x => x.LastName, "Lastname", new { @class = "email", @id = "lastName", @placeholder = "Last Name" })
        @Html.TextBoxFor(x => x.Email, "E-mail", new { @class = "email", @id = "email", @placeholder = "E-mail" })
        @Html.TextBoxFor(x => x.Institution, "Instiitution", new { @class = "email", @id = "institution", @placeholder = "Institution" })
        @Html.PasswordFor(x => x.Password, new { @class = "email", @id = "passWord", @placeholder = "Password" })
        @Html.DropDownListFor(x => x.Country, new SelectList(Model.Country), new { @class = "email", @id = "country", style="width:270px"})
        <br />
        <input type="submit" value="Sign up" style="margin-left: 140px; margin-top: 10px">
        }
    </div>
        <script src="/js/jquery.min.js"></script>
    </body>
</html>
